.form-Details {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 0;
  gap: 1rem;
}

.form_container {
  position: relative;
  padding: 1rem;
  padding-bottom: 2rem;
  background-color: rgb(49, 28, 236);
  border-radius: 5px;
}

.form_header {
  color: white;
}

input {
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

input:focus {
  outline: orange 5px auto;
}

button {
  all: unset;
  cursor: pointer;
  width: 30%;
  background: white;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

button:focus {
  outline: orange 5px auto;
}

.saveMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  color: white;
  font-size: 1.5rem;
  word-wrap: break-word;
  background-color: green;
  border-radius: 5px;
  height: 3.85rem;
  width: 55%;
  text-align: center;
  margin:0;
}

.hidden {
  display: none;
}