@import './mixins.scss';

.form_container {
  @include form_container;
  width: 30rem;
  min-height: 35.5rem;
}

.form-Details {
  @include form-Details;
}

#blurb_container {
  flex: 0 0 98%;
  width: 100%;
}

.form_header {
  color: white;
}

input {
  @include input;
}

input:focus {
  outline: orange 5px auto;
}

.submitButton {
  @include submit-button;
}

button:focus {
  outline: orange 5px auto;
}

.saveMessage {
  @include save-message;
  position: absolute;
  bottom: 2rem;
  right: 1rem;
}

.hidden {
  display: none;
}

.textArea_container {
  width: 64rem;
  max-width: 100%;
}

.textArea {
  height: 25rem !important;
  max-width: 100%;
  font-family: inherit;
  border: none;
  border-radius: 5px;
}