@import './mixins.scss';

.form_container {
  @include form_container;
  width: 30rem;
  min-height: 35.5rem;
}

.form-Details {
  @include form-Details;
}

.form_header {
  color: white;
}

.saveMessage {
  @include save-message;
  position: absolute;
  bottom: 2.2rem;
  right: 1rem;
}

.hidden {
  display: none;
}

.textArea_container {
  width: 64rem;
  max-width: 100%;
  margin: auto;
}

.textArea {
  height: 25rem !important;
  max-width: 100%;
  font-family: inherit;
  border: none;
  border-radius: 5px;
}