@mixin form_container {
  position: relative;
  padding: 1rem;
  padding-bottom: 2rem;
  background-color: rgb(49, 28, 236);
  border-radius: 5px;
}

@mixin form-Details {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 1;
  gap: 1rem;
}

@mixin input {
  padding: 1rem;
  border: none;
  border-radius: 5px;

  &:focus {
    outline: orange 5px auto;
  }
}

@mixin submit-button {
  all: unset;
  cursor: pointer;
  width: 40%;
  background: white;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;

  &:focus {
    outline: orange 5px auto;
  }

  &:hover {
    background-color: orange;
  }
}

@mixin save-message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  word-wrap: break-word;
  background-color: green;
  border-radius: 5px;
  height: 3.85rem;
  width: 40%;
  text-align: center;
  margin:0;
}